@charset "UTF-8";
.theWeekndPortada {
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

.infoPrincipal {
  padding-left: 25px;
}

.textoBanner {
  margin-top: 50px;
  padding: 5%;
  display: flex;
  justify-content: center;
}

@media (min-width: 300px) {
  .textoBanner {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .textoBanner {
    display: flex;
    flex-direction: row;
  }
}
.textoDiscografia {
  display: flex;
  justify-content: center;
  font-size: 100%;
}

.discografiaTrilogy {
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
}

.discografiaKissLand {
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
}

.discografiaBeautyBehindTheMadness {
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
}

.discografiaStarboy {
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
}

.discografiaMyDearMelancholy {
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.discografiaAfterHours {
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.discografiaDawnFM {
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.discografiaSpotify {
  display: inline-block;
  margin-left: 20px;
}

.discografiaSpotify p {
  text-align: center;
}

.imgSpotify {
  margin: auto;
  padding-left: 5px;
  width: 150px;
}

.bodyCarrera {
  margin: 0;
}

.sectionCarreraArtistica {
  padding: 30px;
}

.primerosAñosDeVidaInfo {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
  margin: auto;
  background: radial-gradient(circle, rgb(180, 174, 238) 0%, rgb(0, 0, 0) 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
  color: white;
}

.primerosAñosDeVida {
  border-radius: 30px;
}

.iniciosDeSuCarreraYMixtapesInfo {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
  margin: auto;
  background: linear-gradient(90deg, rgb(4, 3, 3) 0%, rgb(64, 59, 59) 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
  color: white;
}

.iniciosDeSuCarreraYMixtapes {
  border-radius: 30px;
}

.trilogyKissLandInfo {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
  margin: auto;
  background: linear-gradient(90deg, rgb(17, 15, 15) 0%, rgb(6, 32, 8) 46%, rgb(27, 186, 37) 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
  color: white;
}

.trilogyKissLand {
  border-radius: 30px;
}

.beautyBehindTheMadnessInfo {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
  margin: auto;
  background: linear-gradient(90deg, rgb(17, 16, 16) 0%, rgb(255, 255, 48) 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
  color: white;
}

.beautyBehindTheMadness {
  border-radius: 30px;
}

.starboyYMyDearMelancholyInfo {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
  margin: auto;
  background: linear-gradient(90deg, rgb(24, 17, 17) 0%, rgb(191, 22, 22) 46%, rgb(255, 128, 0) 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
  color: white;
}

.starboyYMyDearMelancholy {
  border-radius: 30px;
}

.afterHoursYDawnFMInfo {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
  margin: auto;
  background: linear-gradient(90deg, rgb(24, 17, 17) 0%, rgb(85, 12, 12) 46%, rgb(32, 82, 108) 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
  color: white;
}

.afterHoursYDawnFM {
  border-radius: 30px;
}

.sectionCarreraArtistica p {
  margin-right: 20px;
}

.galeriaItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  padding: 20px;
  grid-gap: 10px;
}

.galeriaImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (min-width: 300px) {
  .galeriaItem {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .galeriaItem {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .galeriaItem {
    grid-template-columns: repeat(3, 1fr);
  }
}
.formulario {
  display: flex;
  justify-content: center;
  padding: 5%;
  font-size: 80%;
}

@media (min-width: 0px) {
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 300px) {
  .primerosAñosDeVidaInfo {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .primerosAñosDeVidaInfo {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
}
@media (min-width: 300px) {
  .iniciosDeSuCarreraYMixtapesInfo {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .iniciosDeSuCarreraYMixtapesInfo {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
}
@media (min-width: 300px) {
  .trilogyKissLandInfo {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .trilogyKissLandInfo {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
}
@media (min-width: 300px) {
  .beautyBehindTheMadnessInfo {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .beautyBehindTheMadnessInfo {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
}
@media (min-width: 300px) {
  .starboyYMyDearMelancholyInfo {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .starboyYMyDearMelancholyInfo {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
}
@media (min-width: 300px) {
  .afterHoursYDawnFMInfo {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .afterHoursYDawnFMInfo {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: #6D0000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%236D0000' cx='50' cy='0' r='50'/%3E%3Cg fill='%23690102' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23640203' cx='50' cy='100' r='50'/%3E%3Cg fill='%23600304' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%235b0405' cx='50' cy='200' r='50'/%3E%3Cg fill='%23560506' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23520607' cx='50' cy='300' r='50'/%3E%3Cg fill='%234d0608' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23490708' cx='50' cy='400' r='50'/%3E%3Cg fill='%23440808' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23400808' cx='50' cy='500' r='50'/%3E%3Cg fill='%233b0908' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23370908' cx='50' cy='600' r='50'/%3E%3Cg fill='%23320907' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%232e0907' cx='50' cy='700' r='50'/%3E%3Cg fill='%232a0906' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23260705' cx='50' cy='800' r='50'/%3E%3Cg fill='%23220504' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%231e0403' cx='50' cy='900' r='50'/%3E%3Cg fill='%23190201' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23130000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

header {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: black;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
}

nav {
  width: 50%;
  display: flex;
  align-items: center;
}

ul {
  width: 100%;
  list-style: none;
  font-family: "Mohave", serif;
  font-size: 100%;
}

li:hover {
  color: rgb(61, 5, 5);
  border-bottom: solid;
}

h2 {
  text-align: center;
  font-family: "Mohave", sans-serif;
  color: white;
  font-size: 150%;
  margin: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h3 {
  font-family: "Mohave", sans-serif;
  color: white;
  font-size: 150%;
  margin: 10px;
}

p {
  font-family: "Bellefair", cursive;
  color: white;
}

footer h3 {
  font-size: 100%;
}

footer {
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.instagram {
  box-shadow: 2px 2px 2px;
  border-radius: 10px;
}

.youtube {
  box-shadow: 2px 2px 2px;
  border-radius: 10px;
}

.twitter {
  box-shadow: 2px 2px 2px;
  border-radius: 10px;
}

.facebook {
  box-shadow: 2px 2px 2px;
  border-radius: 10px;
}

div, fieldset, legend {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
