a:hover{
    color: rgb(61, 5, 5);
    border-bottom: solid;
}
header{
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}
nav{
    width: 50%;
    display: flex;
    align-items: center;
}
ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-family: "Gurajada", sans-serif;
    font-size: 175%;
}
.sectionBanner{
    display: flex;
    flex-direction: row;
    background-color:  rgb(61, 5, 5);
}
.sectionBanner div{
    display: flex;
}
.divTextoBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}
.divImgBanner{
    justify-content: flex-end;
    margin: 10px;
}
body{
    padding: 0;
    margin: 0;

    background-color: rgb(61, 5, 5);
}
.imagen{
    width: 500px; 
    height: 625px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
}
h1{
    color: white;
    font-size: 50px;
    font-family: "Rye", cursive;
}
p{
    font-family: "Bellefair", cursive;
}
h2, h3{
    font-family: "Gurajada", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 220%;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
div, fieldset, legend, p{
    color: white;
}
.instagram{
    box-shadow: 2px 2px 2px;
    border-radius: 10px;
}
.youtube{
    box-shadow: 2px 2px 2px;
    border-radius: 10px;
}
.twitter{
    box-shadow: 2px 2px 2px;
    border-radius: 10px;
}
.facebook{
    box-shadow: 2px 2px 2px;
    border-radius: 10px;
}
.galeriaItem{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    padding: 20px;
    grid-gap: 10px;
}
.galeriaImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
@media (min-width: 375px){
    ul{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px){
    ul{
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
}
@media (min-width: 375px){
    .galeriaItem{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 768px){
    .galeriaItem{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1024px){
    .galeriaItem{
        grid-template-columns: repeat(3, 1fr);
    }
}
.discografia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer{
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.sectionCarreraArtistica{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 40px;
    width: 50%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
}
.primerosAñosDeVida{
    width: 400px;
    height: 600px;
}
.iniciosDeSuCarreraYMixtapes{
    width: 400px;
    height: 600px;
}
.trilogyKissLand{
    width: 400px;
    height: 600px;
}
.beautyBehindTheMadness{
    width: 400px;
    height: 600px;
}
.starboyYMyDearMelancholy{
    width: 400px;
    height: 600px;
}
.afterHoursYDawnFM{
    width: 400px;
    height: 600px;
}
.section img{
    width: 200px;
    border-radius: 30px;
    border: dashed 3px; color:black;
}
.formulario{
    display: flex;
    justify-content: center;
    padding: 5%;
}